[submodule "freertos_kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "icm20689pico"]
	path = lib/icm20689pico
	url = https://github.com/mattsays/icm20689pico.git
[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED.git
[submodule "lib/pico_dht"]
	path = lib/pico_dht
	url = https://github.com/sparkiebot/pico_dht.git
[submodule "lib/PicoPWM"]
	path = lib/PicoPWM
	url = https://github.com/sparkiebot/PicoPWM.git
