[submodule "freertos_kernel"]
	path = lib/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "lib/PicoLED"]
	path = lib/PicoLED
	url = https://github.com/ForsakenNGS/PicoLED.git
[submodule "lib/PicoPWM"]
	path = lib/PicoPWM
	url = https://github.com/sparkiebot/PicoPWM.git
[submodule "lib/AhtPico"]
	path = lib/AhtPico
	url = https://github.com/gavinlyonsrepo/AHTXX_PICO.git
[submodule "lib/gy85"]
	path = lib/gy85
	url = https://github.com/mattsays/gy85.git
